<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.twinsapi.dao.LibBookBorrowMapper">
    <sql id="Base_Column_List">
        BORROW_ID, USER_ID, BOOK_ID, STATUS_ID, BORROW_TIME, RETURN_TIME, CREATED, LASTMOD,
        CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from lib_book_borrow
        where BORROW_ID = #{borrowId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        delete from lib_book_borrow
        where BORROW_ID = #{borrowId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        insert into lib_book_borrow (BORROW_ID, USER_ID, BOOK_ID,
        STATUS_ID, BORROW_TIME, RETURN_TIME,
        CREATED, LASTMOD, CREATER,
        MODIFYER)
        values (#{borrowId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR},
        #{statusId,jdbcType=VARCHAR}, #{borrowTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP},
        #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR},
        #{modifyer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.fastjson.JSONObject">
        insert into lib_book_borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="borrowId != null">
                BORROW_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="bookId != null">
                BOOK_ID,
            </if>
            <if test="statusId != null">
                STATUS_ID,
            </if>
            <if test="borrowTime != null">
                BORROW_TIME,
            </if>
            <if test="returnTime != null">
                RETURN_TIME,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="borrowId != null">
                #{borrowId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="statusId != null">
                #{statusId,jdbcType=VARCHAR},
            </if>
            <if test="borrowTime != null">
                #{borrowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="returnTime != null">
                #{returnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.fastjson.JSONObject">
        update lib_book_borrow
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="bookId != null">
                BOOK_ID = #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="statusId != null">
                STATUS_ID = #{statusId,jdbcType=VARCHAR},
            </if>
            <if test="borrowTime != null">
                BORROW_TIME = #{borrowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="returnTime != null">
                RETURN_TIME = #{returnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where BORROW_ID = #{borrowId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        update lib_book_borrow
        set USER_ID = #{userId,jdbcType=VARCHAR},
        BOOK_ID = #{bookId,jdbcType=VARCHAR},
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
        BORROW_TIME = #{borrowTime,jdbcType=TIMESTAMP},
        RETURN_TIME = #{returnTime,jdbcType=TIMESTAMP},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where BORROW_ID = #{borrowId,jdbcType=VARCHAR}
    </update>
</mapper>