<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.twinsapi.dao.LibBookMapper">

    <sql id="Base_Column_List">
        BOOK_ID, BOOK_TITLE, CATEGORY_ID, AUTHOR, PAGES, PRICE, ISBN, PUBLISHER, EDITION_YEAR,
        BOOK_IMG, BOOK_DESC, STATUS, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultType="com.alibaba.fastjson.JSONObject"
            parameterType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from lib_book
        where BOOK_ID = #{bookId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        delete from lib_book
        where BOOK_ID = #{bookId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        insert into lib_book (BOOK_ID, BOOK_TITLE, CATEGORY_ID,
        AUTHOR, PAGES, PRICE,
        ISBN, PUBLISHER, EDITION_YEAR,
        BOOK_IMG, BOOK_DESC, STATUS,
        CREATED, LASTMOD, CREATER,
        MODIFYER)
        values (#{bookId,jdbcType=VARCHAR}, #{bookTitle,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR},
        #{author,jdbcType=VARCHAR}, #{pages,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL},
        #{isbn,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR}, #{editionYear,jdbcType=INTEGER},
        #{bookImg,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
        #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR},
        #{modifyer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.fastjson.JSONObject">
        insert into lib_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                BOOK_ID,
            </if>
            <if test="bookTitle != null">
                BOOK_TITLE,
            </if>
            <if test="categoryId != null">
                CATEGORY_ID,
            </if>
            <if test="author != null">
                AUTHOR,
            </if>
            <if test="pages != null">
                PAGES,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="isbn != null">
                ISBN,
            </if>
            <if test="publisher != null">
                PUBLISHER,
            </if>
            <if test="editionYear != null">
                EDITION_YEAR,
            </if>
            <if test="bookImg != null">
                BOOK_IMG,
            </if>
            <if test="bookDesc != null">
                BOOK_DESC,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="bookTitle != null">
                #{bookTitle,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                #{pages,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="isbn != null">
                #{isbn,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="editionYear != null">
                #{editionYear,jdbcType=INTEGER},
            </if>
            <if test="bookImg != null">
                #{bookImg,jdbcType=VARCHAR},
            </if>
            <if test="bookDesc != null">
                #{bookDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.fastjson.JSONObject">
        update lib_book
        <set>
            <if test="bookTitle != null">
                BOOK_TITLE = #{bookTitle,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                AUTHOR = #{author,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                PAGES = #{pages,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=DECIMAL},
            </if>
            <if test="isbn != null">
                ISBN = #{isbn,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                PUBLISHER = #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="editionYear != null">
                EDITION_YEAR = #{editionYear,jdbcType=INTEGER},
            </if>
            <if test="bookImg != null">
                BOOK_IMG = #{bookImg,jdbcType=VARCHAR},
            </if>
            <if test="bookDesc != null">
                BOOK_DESC = #{bookDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where BOOK_ID = #{bookId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        update lib_book
        set BOOK_TITLE = #{bookTitle,jdbcType=VARCHAR},
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
        AUTHOR = #{author,jdbcType=VARCHAR},
        PAGES = #{pages,jdbcType=INTEGER},
        PRICE = #{price,jdbcType=DECIMAL},
        ISBN = #{isbn,jdbcType=VARCHAR},
        PUBLISHER = #{publisher,jdbcType=VARCHAR},
        EDITION_YEAR = #{editionYear,jdbcType=INTEGER},
        BOOK_IMG = #{bookImg,jdbcType=VARCHAR},
        BOOK_DESC = #{bookDesc,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=CHAR},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where BOOK_ID = #{bookId,jdbcType=VARCHAR}
    </update>
</mapper>