<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.twinsapi.dao.SysDivisionMapper">

    <sql id="Base_Column_List">
        DIV_ID, DIV_NAME, MANAGER, DIV_PHONE, DIV_ADR, CO_ID, DIV_DESC, STATUS, CREATED,
        LASTMOD, CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultType="com.alibaba.fastjson.JSONObject"
            parameterType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from sys_division
        where DIV_ID = #{divId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        delete from sys_division
        where DIV_ID = #{divId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_division (DIV_ID, DIV_NAME, MANAGER,
        DIV_PHONE, DIV_ADR, CO_ID,
        DIV_DESC, STATUS, CREATED,
        LASTMOD, CREATER, MODIFYER
        )
        values (#{divId,jdbcType=VARCHAR}, #{divName,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
        #{divPhone,jdbcType=VARCHAR}, #{divAdr,jdbcType=VARCHAR}, #{coId,jdbcType=VARCHAR},
        #{divDesc,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{created,jdbcType=TIMESTAMP},
        #{lastmod,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_division
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="divId != null">
                DIV_ID,
            </if>
            <if test="divName != null">
                DIV_NAME,
            </if>
            <if test="manager != null">
                MANAGER,
            </if>
            <if test="divPhone != null">
                DIV_PHONE,
            </if>
            <if test="divAdr != null">
                DIV_ADR,
            </if>
            <if test="coId != null">
                CO_ID,
            </if>
            <if test="divDesc != null">
                DIV_DESC,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="divId != null">
                #{divId,jdbcType=VARCHAR},
            </if>
            <if test="divName != null">
                #{divName,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=VARCHAR},
            </if>
            <if test="divPhone != null">
                #{divPhone,jdbcType=VARCHAR},
            </if>
            <if test="divAdr != null">
                #{divAdr,jdbcType=VARCHAR},
            </if>
            <if test="coId != null">
                #{coId,jdbcType=VARCHAR},
            </if>
            <if test="divDesc != null">
                #{divDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="v">
        update sys_division
        <set>
            <if test="divName != null">
                DIV_NAME = #{divName,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                MANAGER = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="divPhone != null">
                DIV_PHONE = #{divPhone,jdbcType=VARCHAR},
            </if>
            <if test="divAdr != null">
                DIV_ADR = #{divAdr,jdbcType=VARCHAR},
            </if>
            <if test="coId != null">
                CO_ID = #{coId,jdbcType=VARCHAR},
            </if>
            <if test="divDesc != null">
                DIV_DESC = #{divDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where DIV_ID = #{divId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        update sys_division
        set DIV_NAME = #{divName,jdbcType=VARCHAR},
        MANAGER = #{manager,jdbcType=VARCHAR},
        DIV_PHONE = #{divPhone,jdbcType=VARCHAR},
        DIV_ADR = #{divAdr,jdbcType=VARCHAR},
        CO_ID = #{coId,jdbcType=VARCHAR},
        DIV_DESC = #{divDesc,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=CHAR},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where DIV_ID = #{divId,jdbcType=VARCHAR}
    </update>
</mapper>