<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.twinsapi.dao.SysPermissionMapper">

    <sql id="Base_Column_List">
        PMSN_ID, MENU_NAME, MENU_CODE, PRNT_ID, PRNT_NAME, PMSN_CODE, PMSN_NAME, STATUS,
        PMSN_URL, PMSN_DESC, REQUIRED, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>

    <select id="getUserPermission" resultMap="permissionMap">
        SELECT
        u.id userId,
        u.nickname nickname,
        u.role_id roleId,
        r.role_name roleName,
        p.menu_code menuCode,
        p.permission_code permissionCode
        FROM sys_user u
        LEFT JOIN sys_role r ON r.id = u.role_id
        LEFT JOIN sys_role_permission rp ON u.role_id = rp.role_id
        LEFT JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.username = #{username}
        AND u.delete_status='1'
    </select>


    <select id="selectByPrimaryKey" resultType="com.alibaba.fastjson.JSONObject"
            parameterType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        delete from sys_permission
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_permission (PMSN_ID, MENU_NAME, MENU_CODE,
        PRNT_ID, PRNT_NAME, PMSN_CODE,
        PMSN_NAME, STATUS, PMSN_URL,
        PMSN_DESC, REQUIRED, CREATED,
        LASTMOD, CREATER, MODIFYER
        )
        values (#{pmsnId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR},
        #{prntId,jdbcType=VARCHAR}, #{prntName,jdbcType=VARCHAR}, #{pmsnCode,jdbcType=VARCHAR},
        #{pmsnName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{pmsnUrl,jdbcType=VARCHAR},
        #{pmsnDesc,jdbcType=VARCHAR}, #{required,jdbcType=CHAR}, #{created,jdbcType=TIMESTAMP},
        #{lastmod,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pmsnId != null">
                PMSN_ID,
            </if>
            <if test="menuName != null">
                MENU_NAME,
            </if>
            <if test="menuCode != null">
                MENU_CODE,
            </if>
            <if test="prntId != null">
                PRNT_ID,
            </if>
            <if test="prntName != null">
                PRNT_NAME,
            </if>
            <if test="pmsnCode != null">
                PMSN_CODE,
            </if>
            <if test="pmsnName != null">
                PMSN_NAME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="pmsnUrl != null">
                PMSN_URL,
            </if>
            <if test="pmsnDesc != null">
                PMSN_DESC,
            </if>
            <if test="required != null">
                REQUIRED,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pmsnId != null">
                #{pmsnId,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="prntId != null">
                #{prntId,jdbcType=VARCHAR},
            </if>
            <if test="prntName != null">
                #{prntName,jdbcType=VARCHAR},
            </if>
            <if test="pmsnCode != null">
                #{pmsnCode,jdbcType=VARCHAR},
            </if>
            <if test="pmsnName != null">
                #{pmsnName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="pmsnUrl != null">
                #{pmsnUrl,jdbcType=VARCHAR},
            </if>
            <if test="pmsnDesc != null">
                #{pmsnDesc,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                #{required,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.fastjson.JSONObject">
        update sys_permission
        <set>
            <if test="menuName != null">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                MENU_CODE = #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="prntId != null">
                PRNT_ID = #{prntId,jdbcType=VARCHAR},
            </if>
            <if test="prntName != null">
                PRNT_NAME = #{prntName,jdbcType=VARCHAR},
            </if>
            <if test="pmsnCode != null">
                PMSN_CODE = #{pmsnCode,jdbcType=VARCHAR},
            </if>
            <if test="pmsnName != null">
                PMSN_NAME = #{pmsnName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="pmsnUrl != null">
                PMSN_URL = #{pmsnUrl,jdbcType=VARCHAR},
            </if>
            <if test="pmsnDesc != null">
                PMSN_DESC = #{pmsnDesc,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                REQUIRED = #{required,jdbcType=CHAR},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        update sys_permission
        set MENU_NAME = #{menuName,jdbcType=VARCHAR},
        MENU_CODE = #{menuCode,jdbcType=VARCHAR},
        PRNT_ID = #{prntId,jdbcType=VARCHAR},
        PRNT_NAME = #{prntName,jdbcType=VARCHAR},
        PMSN_CODE = #{pmsnCode,jdbcType=VARCHAR},
        PMSN_NAME = #{pmsnName,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=CHAR},
        PMSN_URL = #{pmsnUrl,jdbcType=VARCHAR},
        PMSN_DESC = #{pmsnDesc,jdbcType=VARCHAR},
        REQUIRED = #{required,jdbcType=CHAR},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </update>
</mapper>