<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.twinsapi.dao.SysUserMapper">

    <sql id="Base_Column_List">
        USER_ID, USER_NAME, USER_NO, JOIN_TIME, ACCOUNT, PASSWORD, USER_EMAIL, USER_PHONE,
        USER_ADDR, GENDER, FIRST_LOGIN, PREV_LOGIN, PREV_IP, LAST_LOGIN, LOGIN_COUNT, STATUS,
        USER_DESC, IS_ONLINE, SORT, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultMap="com.alibaba.fastjson.JSONObject"
            parameterType="com.alibaba.fastjson.JSONObject">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        delete from sys_user
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_user (USER_ID, USER_NAME, USER_NO,
        JOIN_TIME, ACCOUNT, PASSWORD,
        USER_EMAIL, USER_PHONE, USER_ADDR,
        GENDER, FIRST_LOGIN, PREV_LOGIN,
        PREV_IP, LAST_LOGIN, LOGIN_COUNT,
        STATUS, USER_DESC, IS_ONLINE,
        SORT, CREATED, LASTMOD,
        CREATER, MODIFYER)
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR},
        #{joinTime,jdbcType=TIMESTAMP}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userAddr,jdbcType=VARCHAR},
        #{gender,jdbcType=CHAR}, #{firstLogin,jdbcType=TIMESTAMP}, #{prevLogin,jdbcType=TIMESTAMP},
        #{prevIp,jdbcType=VARCHAR}, #{lastLogin,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=VARCHAR},
        #{status,jdbcType=CHAR}, #{userDesc,jdbcType=VARCHAR}, #{isOnline,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{lastmod,jdbcType=TIMESTAMP},
        #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.alibaba.fastjson.JSONObject">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userNo != null">
                USER_NO,
            </if>
            <if test="joinTime != null">
                JOIN_TIME,
            </if>
            <if test="account != null">
                ACCOUNT,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="userEmail != null">
                USER_EMAIL,
            </if>
            <if test="userPhone != null">
                USER_PHONE,
            </if>
            <if test="userAddr != null">
                USER_ADDR,
            </if>
            <if test="gender != null">
                GENDER,
            </if>
            <if test="firstLogin != null">
                FIRST_LOGIN,
            </if>
            <if test="prevLogin != null">
                PREV_LOGIN,
            </if>
            <if test="prevIp != null">
                PREV_IP,
            </if>
            <if test="lastLogin != null">
                LAST_LOGIN,
            </if>
            <if test="loginCount != null">
                LOGIN_COUNT,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="userDesc != null">
                USER_DESC,
            </if>
            <if test="isOnline != null">
                IS_ONLINE,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                #{joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAddr != null">
                #{userAddr,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="firstLogin != null">
                #{firstLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="prevLogin != null">
                #{prevLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="prevIp != null">
                #{prevIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="loginCount != null">
                #{loginCount,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="userDesc != null">
                #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="isOnline != null">
                #{isOnline,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.fastjson.JSONObject">
        update sys_user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userNo != null">
                USER_NO = #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="joinTime != null">
                JOIN_TIME = #{joinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="account != null">
                ACCOUNT = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                USER_PHONE = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAddr != null">
                USER_ADDR = #{userAddr,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                GENDER = #{gender,jdbcType=CHAR},
            </if>
            <if test="firstLogin != null">
                FIRST_LOGIN = #{firstLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="prevLogin != null">
                PREV_LOGIN = #{prevLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="prevIp != null">
                PREV_IP = #{prevIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="loginCount != null">
                LOGIN_COUNT = #{loginCount,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="userDesc != null">
                USER_DESC = #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="isOnline != null">
                IS_ONLINE = #{isOnline,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        update sys_user
        set USER_NAME = #{userName,jdbcType=VARCHAR},
        USER_NO = #{userNo,jdbcType=VARCHAR},
        JOIN_TIME = #{joinTime,jdbcType=TIMESTAMP},
        ACCOUNT = #{account,jdbcType=VARCHAR},
        PASSWORD = #{password,jdbcType=VARCHAR},
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
        USER_ADDR = #{userAddr,jdbcType=VARCHAR},
        GENDER = #{gender,jdbcType=CHAR},
        FIRST_LOGIN = #{firstLogin,jdbcType=TIMESTAMP},
        PREV_LOGIN = #{prevLogin,jdbcType=TIMESTAMP},
        PREV_IP = #{prevIp,jdbcType=VARCHAR},
        LAST_LOGIN = #{lastLogin,jdbcType=TIMESTAMP},
        LOGIN_COUNT = #{loginCount,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=CHAR},
        USER_DESC = #{userDesc,jdbcType=VARCHAR},
        IS_ONLINE = #{isOnline,jdbcType=INTEGER},
        SORT = #{sort,jdbcType=INTEGER},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>