<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.twinsapi.dao.UserInfoMapper">

    <delete id="deleteByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        DELETE FROM user_info
        WHERE USER_ID = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO user_info (USER_NAME, USER_BIRTH, USER_IMG)
        VALUES (#{userName,jdbcType=VARCHAR}, #{userBirth,jdbcType=DATE},#{userImg,jdbcType=VARCHAR})
    </insert>

    <select id="selectAllUserInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            USER_ID,
            USER_NAME,
            USER_BIRTH,
            USER_IMG
        FROM user_info
    </select>

    <select id="selectByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject"
            resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            USER_ID,
            USER_NAME,
            USER_BIRTH,
            USER_IMG
        FROM user_info
        WHERE USER_ID = #{userId,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE user_info
        SET USER_NAME  = #{userName,jdbcType=VARCHAR},
            USER_BIRTH = #{userBirth,jdbcType=DATE},
            USER_IMG  = #{userImg,jdbcType=VARCHAR}
        WHERE USER_ID = #{userId,jdbcType=INTEGER}
    </update>
</mapper>